build --toolchain_resolution_debug=.*

# Use our custom-configured c++ toolchain.
build --crosstool_top=//cc_toolchain:clang_suite

# Use the default Bazel C++ toolchain to build the tools used during the build.
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# Use --cpu as a differentiator.
build --compiler=linux

# aarch64
build:aarch64 --cpu=aarch64                  # Use --cpu as a differentiator for cc_toolchain_suite.
build:aarch64 --platforms=//config:linux_aarch64_platform
build:aarch64 --host_platform=//config:linux_aarch64_platform

# x86_64
build:x86_64 --cpu=x86_64                  # Use --cpu as a differentiator for cc_toolchain_suite.
build:x86_64 --platforms=//config:linux_x86_64_platform
build:x86_64 --host_platform=//config:linux_x86_64_platform

# Code coverage support
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap
coverage --experimental_generate_llvm_lcov
coverage --incompatible_cc_coverage
