build --toolchain_resolution_debug=.*

# Use our custom-configured c++ toolchain.
build --crosstool_top=//cc_toolchain:clang_suite

# Use the default Bazel C++ toolchain to build the tools used during the build.
build --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# Use --cpu as a differentiator.
#build --cpu=aarch64

# Use --cpu as a differentiator.
build --compiler=linux_clang

# Code coverage support
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap
coverage --experimental_generate_llvm_lcov
coverage --incompatible_cc_coverage
