build --enable_platform_specific_config
build --toolchain_resolution_debug=.*

# Non hermetic
build:non_hermetic --crosstool_top=@bazel_tools//tools/cpp:toolchain
build:non_hermetic --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

# Hermetic
build:hermetic --crosstool_top=//cc_toolchain:clang_suite
build:hermetic --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:linux --config=hermetic
build:linux --compiler=clang

# aarch64
#build:linux_aarch64 --config=hermetic
#build:linux_aarch64 --compiler=clang
#build:linux_aarch64 --cpu=aarch64
#build:linux_aarch64 --host_platform=//config:linux_aarch64_platform

# x86_64
#build:linux_x86_64 --config=hermetic
#build:linux_x86_64 --compiler=clang
#build:linux_x86_64 --cpu=k8
#build:linux_x86_64 --host_platform=//config:linux_x86_64_platform

########################################################
#build:macos --cxxopt=-std=c++17
#build:macos --host_cxxopt=-std=c++17
